---
import '../css/main.css';
import Home from '../home';
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Joe Bateson</title>

    <link rel="icon" href="/favicon-ab56e196c714.gif" type="image/gif" />

    <meta name="description"
        content="This is the website of Joe Bateson, a software engineer/developer/tinkerer from the UK." />
    <meta name="theme-color" content="#262335" />
</head>

<body contenteditable="true" spellcheck="false">
    <Home />

    <script is:inline>
        // If rIC isn't available, just immediately execute ¯\_(ツ)_/¯
        const init = window.requestIdleCallback || ((callbackFn) => callbackFn());
        init(() => document.body.focus());
    </script>
</body>

</html>
