
<% function renderTag (tag) { %>
    <% var tagName = tag.tagName === 'script' ? 'script' : 'style'; %>
    <% var filePath = tag.tagName === 'script' ? tag.attributes.src : tag.attributes.href; %>

    <<%= tagName %>>
        <%= compilation.assets[filePath].source() %>
    </<%= tagName %>>
<% } %>

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Joe Bateson</title>
        <link rel="icon" href="icons-ab56e196/favicon.gif" type="image/gif" />
        <link rel="preload" href="1242b6a891916445536f2bea7d52a0d4.woff2" as="font" type="font/woff2" crossorigin />

        <meta name="description" content="This is the website of Joe Bateson, a software engineer/developer/tinkerer from the UK.">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#262335">

        <% htmlWebpackPlugin.tags.headTags.forEach(renderTag); %>
    </head>
    <body contenteditable="true" spellcheck="false">
        <header role="banner">
            <h1 class="name">
                <span class="tag">&lt;h1&gt;</span> Joe Bateson <span class="tag">&lt;/h1&gt;</span>
            </h1>
        </header>

        <main role="main">
            <h2>
                <span class="tag">&lt;h2&gt;</span> This is the website of Joe Bateson, a software engineer/developer/tinkerer from the UK (but now in 🇺🇸). <span class="tag">&lt;/h2&gt;</span>
            </h2>

            <p><span class="tag">&lt;p&gt;</span>
            I currently work at Yelp as a full-stack software engineer, previously studying computer science at the University of Cambridge. Building things is fun.
            <span class="tag">&lt;/p&gt;</span></p>

            <p><span class="tag">&lt;p&gt;</span>
            You can find me in various places across the internet:
            <span class="tag">&lt;/p&gt;</span></p>

            <span class="tag">&lt;ul&gt;</span>
            <ul>
                <li><span class="tag">&lt;li&gt;</span> <span class="tag">&lt;a</span> <span class="keyword">href</span>=<span class="values" contenteditable="false"><a href="https://github.com/jdb8">&quot;https://github.com/jdb8&quot;</a></span><span class="tag">&gt;</span>
                <span contenteditable="false"><a href="https://github.com/jdb8">Github</a></span>
                <span class="tag">&lt;/a&gt;</span> <span class="tag">&lt;/li&gt;</span></li>

                <li><span class="tag">&lt;li&gt;</span> <span class="tag">&lt;a</span> <span class="keyword">href</span>=<span class="values" contenteditable="false">&quot;<a href="https://twitter.com/joebateson">https://twitter.com/joebateson</a>&quot;</span><span class="tag">&gt;</span>
                <span contenteditable="false"><a href="https://twitter.com/joebateson">Twitter</a></span>
                <span class="tag">&lt;/a&gt;</span> <span class="tag">&lt;/li&gt;</span></li>

                <li><span class="tag">&lt;li&gt;</span> <span class="tag">&lt;a</span> <span class="keyword">href</span>=<span class="values" contenteditable="false">&quot;<a href="https://uk.linkedin.com/pub/joe-bateson/42/72a/374">https://uk.linkedin.com/pub/joe-bateson/42/72a/374</a>&quot;</span><span class="tag">&gt;</span>
                <span contenteditable="false"><a href="https://uk.linkedin.com/pub/joe-bateson/42/72a/374">LinkedIn</a></span>
                <span class="tag">&lt;/a&gt;</span> <span class="tag">&lt;/li&gt;</span></li>

                <li><span class="tag">&lt;li&gt;</span> <span class="tag">&lt;a</span> <span class="keyword">href</span>=<span class="values" contenteditable="false">&quot;<a href="mailto:joe@joebateson.com">mailto:joe@joebateson.com</a>&quot;</span><span class="tag">&gt;</span>
                <span contenteditable="false"><a href="mailto:joe@joebateson.com">Email</a></span>
                <span class="tag">&lt;/a&gt;</span> <span class="tag">&lt;/li&gt;</span></li>
            </ul>
            <span class="tag">&lt;/ul&gt;</span>
        </main>

        <% htmlWebpackPlugin.tags.bodyTags.forEach(renderTag); %>
    </body>
</html>
