// Current theme: SynthWave '84 (https://github.com/robb0wen/synthwave-vscode)

$background-color: #262335;
$text-color: #ffffff;
$comment-color: #495495;
$link-color: $text-color;
$tag-color: #72f1b8;
$keyword-color: #fede5d;
$value-color: #ff8b39;

// 0.99 to account for http://stackoverflow.com/a/7224621
$selection-color: rgba(68, 71, 90, 0.99);
