// Current theme: Oceanic Next (http://labs.voronianski.com/oceanic-next-color-scheme/)

$background-color: #1b2b34;
$text-color: #cdd3de;
$comment-color: #65737e;
$link-color: $text-color;
$tag-color: #ec5f67;
$keyword-color: #c594c5;
$value-color: #99c794;

// #4f5b66 in rgba, to account for http://stackoverflow.com/a/7224621
$selection-color: rgba(79, 91, 102, .99);
