// Current theme: Dracula (https://github.com/dracula/dracula-theme)

$background-color: #282a36;
$text-color: #f8f8f2;
$comment-color: #6272a4;
$link-color: $text-color;
$tag-color: #ff79c6;
$keyword-color: #50fa7b;
$value-color: #f1fa8c;

// 0.99 to account for http://stackoverflow.com/a/7224621
$selection-color: rgba(68, 71, 90, 0.99);
